<%- include("../partials/header.ejs") %>
    <script>
        let data = {

        }

        let row = 1

        function sendData() {
            let tableTitleValue = document.getElementById("tableTitle").value
            data = { ...data, tableTitle: tableTitleValue }
            for (let i = 1; i <= row; i++) {
                let id = "row" + i;
                let row = document.getElementById(id).value
                switch (i) {
                    case 1:
                        data = { ...data, row1: row }
                        break;
                    case 2:
                        data = { ...data, row2: row }
                        break;
                    case 3:
                        data = { ...data, row3: row }
                        break;
                    case 4:
                        data = { ...data, row4: row }
                        break;
                    case 5:
                        data = { ...data, row5: row }
                        break;

                }
            }
            localStorage.setItem("data", JSON.stringify(data))
            localStorage.setItem("rows", row)
        }

        function addRow() {
            let rows = document.getElementById("rows")
            if (row < 5) {
                row++
                rows.innerHTML += "<input class='form-control' type='text' id='row" + row + "' placeholder='Row " + row + "'>"
            }
        }
    </script>
    <center>
        <div class="card">
            <div class="card-header">
                <button onclick="addRow()" type="button" class="btn btn-primary">Add row</button>
            </div>
            <div class="card-body">
                <h5 class="card-title">Create your bootstrap table</h5>
                <p class="card-text" id="rows">
                    <input class="form-control" id="tableTitle" type="text" placeholder="Table title">

                    <input class="form-control" id="row1" type="text" placeholder="Row 1">
                </p>
                <a onclick="sendData()" class="btn btn-primary">Send</a>
            </div>
        </div>
    </center>
    <%- include("../partials/footer.ejs") %>
